In [1]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install scikit-learn
!pip install scipy
!pip install statsmodels

Requirement already satisfied: pandas in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (1.26.3)
Requirement already satisfied: matplotlib in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib) (1.26.3)
Requirement already satisfied: packaging>=20.0 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from seaborn) (1.26.3)
Requirement already satisfied: pandas>=1.2 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: six>=1.5 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Requirement already satisfied: scikit-learn in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.5.0 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/shahadaleissa/hyper_code/.conda/lib/python3.11/site-packages (from scikit-learn) (3.2.0)

In [ ]:
import pandas as pd

df= pd.read_csv('/Users/shahadaleissa/hyper_code/Dataset/hypertension_data.csv')

In [ ]:
#perform statistical analysis 
df.describe()

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
count,2000.000000,2000.000000,2000.000000,1908.000000,2000.000000,2000.000000,2000.000000,442.000000,2000.000000,2000.000000,2000.000000,1758.000000,2000.000000,2000.0000,2000.000000
mean,1000.500000,0.493500,11.710035,0.494817,46.558500,30.081500,0.496000,0.450226,0.509500,25254.424500,24926.097000,251.008532,2.012500,0.5050,0.443500
std,577.494589,0.500083,2.186701,0.291736,17.107832,11.761208,0.500109,0.498080,0.500035,14015.439623,14211.692586,143.651884,0.823822,0.5001,0.496922
min,1.000000,0.000000,8.100000,0.000000,18.000000,10.000000,0.000000,0.000000,0.000000,628.000000,22.000000,0.000000,1.000000,0.0000,0.000000
25%,500.750000,0.000000,10.147500,0.240000,32.000000,20.000000,0.000000,0.000000,0.000000,13605.750000,13151.750000,126.250000,1.000000,0.0000,0.000000
50%,1000.500000,0.000000,11.330000,0.490000,46.000000,30.000000,0.000000,0.000000,1.000000,25353.000000,25046.500000,250.000000,2.000000,1.0000,0.000000
75%,1500.250000,1.000000,12.945000,0.740000,62.000000,40.000000,1.000000,1.000000,1.000000,37382.250000,36839.750000,377.750000,3.000000,1.0000,1.000000
max,2000.000000,1.000000,17.560000,1.000000,75.000000,50.000000,1.000000,1.000000,1.000000,49980.000000,49976.000000,499.000000,3.000000,1.0000,1.000000

In [ ]:
#number of samples for each class
df.count()

Patient_Number                   2000
Blood_Pressure_Abnormality       2000
Level_of_Hemoglobin              2000
Genetic_Pedigree_Coefficient     1908
Age                              2000
BMI                              2000
Sex                              2000
Pregnancy                         442
Smoking                          2000
Physical_activity                2000
salt_content_in_the_diet         2000
alcohol_consumption_per_day      1758
Level_of_Stress                  2000
Chronic_kidney_disease           2000
Adrenal_and_thyroid_disorders    2000
dtype: int64

In [ ]:
# check any missing values
df.isnull().sum()

Patient_Number                      0
Blood_Pressure_Abnormality          0
Level_of_Hemoglobin                 0
Genetic_Pedigree_Coefficient       92
Age                                 0
BMI                                 0
Sex                                 0
Pregnancy                        1558
Smoking                             0
Physical_activity                   0
salt_content_in_the_diet            0
alcohol_consumption_per_day       242
Level_of_Stress                     0
Chronic_kidney_disease              0
Adrenal_and_thyroid_disorders       0
dtype: int64

In [ ]:
df['Genetic_Pedigree_Coefficient'].dtype
df['alcohol_consumption_per_day'].dtype

dtype('float64')

In [ ]:
#dropping pregnancy column since most of the values are missing
df.drop('Pregnancy', axis=1, inplace=True)

<h2>Imputing null values with KNN</h2>

The number of neighbors to look for. Taking a low k will increase the influence of noise and the results are going to be less generalizable. On the other hand, taking a high k will tend to blur local effects which are exactly what we are looking for. It is also recommended to take an odd k for binary classes to avoid ties.

In [ ]:
#using KNN imputer to fill missing values for float and int columns
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=3)
selected_columns=['Genetic_Pedigree_Coefficient','alcohol_consumption_per_day']
imputed_data = imputer.fit_transform(df[selected_columns])

In [ ]:
imputed_df = pd.DataFrame(imputed_data, columns = selected_columns)

#combine the imputed data with the original data
df = df.drop(columns=selected_columns)
df = df.join(imputed_df)
df.isnull().sum()

Patient_Number                   0
Blood_Pressure_Abnormality       0
Level_of_Hemoglobin              0
Age                              0
BMI                              0
Sex                              0
Smoking                          0
Physical_activity                0
salt_content_in_the_diet         0
Level_of_Stress                  0
Chronic_kidney_disease           0
Adrenal_and_thyroid_disorders    0
Genetic_Pedigree_Coefficient     0
alcohol_consumption_per_day      0
dtype: int64

In [ ]:
#dropping Patient_Number column since it is not useful for the analysis
df.drop('Patient_Number', axis=1, inplace=True)
#renaming Blood_Pressure_Abnormality to class
df.rename(columns={'Blood_Pressure_Abnormality':'Class'}, inplace=True)
df.head()

,Class,Level_of_Hemoglobin,Age,BMI,Sex,Smoking,Physical_activity,salt_content_in_the_diet,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders,Genetic_Pedigree_Coefficient,alcohol_consumption_per_day
0,1,11.28,34,23,1,0,45961,48071,2,1,1,0.90,336.333333
1,0,9.75,54,33,1,0,26106,25333,3,0,0,0.23,205.000000
2,1,10.79,70,49,0,0,9995,29465,2,1,0,0.91,67.000000
3,0,11.00,71,50,0,0,10635,7439,1,1,0,0.43,242.000000
4,1,14.17,52,19,0,0,15619,49644,2,0,0,0.83,397.000000

In [ ]:
#statistical analysis for the dataset after cleaning 
df.describe()

,Class,Level_of_Hemoglobin,Age,BMI,Sex,Smoking,Physical_activity,salt_content_in_the_diet,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders,Genetic_Pedigree_Coefficient,alcohol_consumption_per_day
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000
mean,0.493500,11.710035,46.558500,30.081500,0.496000,0.509500,25254.424500,24926.097000,2.012500,0.5050,0.443500,0.493910,252.167214
std,0.500083,2.186701,17.107832,11.761208,0.500109,0.500035,14015.439623,14211.692586,0.823822,0.5001,0.496922,0.286772,137.943008
min,0.000000,8.100000,18.000000,10.000000,0.000000,0.000000,628.000000,22.000000,1.000000,0.0000,0.000000,0.000000,0.000000
25%,0.000000,10.147500,32.000000,20.000000,0.000000,0.000000,13605.750000,13151.750000,1.000000,0.0000,0.000000,0.250000,139.000000
50%,0.000000,11.330000,46.000000,30.000000,0.000000,1.000000,25353.000000,25046.500000,2.000000,1.0000,0.000000,0.490000,253.000000
75%,1.000000,12.945000,62.000000,40.000000,1.000000,1.000000,37382.250000,36839.750000,3.000000,1.0000,1.000000,0.730000,370.000000
max,1.000000,17.560000,75.000000,50.000000,1.000000,1.000000,49980.000000,49976.000000,3.000000,1.0000,1.000000,1.000000,499.000000

In [ ]:
df

In [35]:
#saving the cleaned data
df.to_csv('/Users/shahadaleissa/hyper_code/Dataset/cleaned_hypertension_data.csv', index=False)